# Preferências gerais
root = true

[*]
# Estilo de identação
indent_style = space
indent_size = 4

# Quebra de linha
end_of_line = crlf

# Espaços em branco
trim_trailing_whitespace = true
insert_final_newline = true

# Organização dos usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Estilo de nomeação
dotnet_naming_rule.interface_should_start_with_I.severity = suggestion
dotnet_naming_rule.interface_should_start_with_I.symbols = interface
dotnet_naming_rule.interface_should_start_with_I.style = starts_with_I

# Estilo de espaçamento
dotnet_style_require_accessibility_modifiers = true
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

# Estilo de chaves
csharp_prefer_braces = true
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

# Formatação de chamadas de método
csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true

# Organização dos membros
dotnet_style_ordering_style = saffron
dotnet_sort_system_directives_first = true
